# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
Backups/
blob_storage/
Cache/
CachedData/
CachedProfilesData/
Code Cache/
Crashpad/
DawnGraphiteCache/
DawnWebGPUCache/
Dictionaries/
GPUCache/
Local Storage/
Session Storage/
Shared Dictionary/
User/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env