.labels-selection {
  display: flex;
  flex-direction: column;
  background-color: #DEE0EB;
  align-items: flex-start;
  border-radius: calc((10/1280) * var(--x-multiplier));
  padding: calc((10/1280) * var(--x-multiplier)); 
  font-family: sans-serif;
  justify-content: space-between;
  row-gap: calc((10/1280) * var(--x-multiplier)); 
}

/* Tabs */
.slider-tabs {
  margin: 0 auto;
  display: flex;
  gap: calc((10/1280) * var(--x-multiplier)); 
  width: min-content;
  justify-content: center;  
  background-color:#6a87c2;
  border-radius: calc((20/1280) * var(--x-multiplier)); 
  overflow: hidden;
}

.tab,
.active-tab {
  border: none;
  border-radius: calc((20/1280) * var(--x-multiplier)); 
  padding: calc((3/1280) * var(--x-multiplier)) 0;
  width:calc((80/1280) * var(--x-multiplier));
  font-weight: bold;
  font-size: calc((14/1280) * var(--x-multiplier));
  cursor: pointer;
}

.tab {
  background-color: transparent;
  color: white;
}

.active-tab {
  background-color: #ffffff;
  color: #6a87c2;
  border: calc((2/1280) * var(--x-multiplier)) solid #6a87c2;
}

 
.slider-content{
    width: 100%;
    display: flex; 
    gap: calc((5/1280) * var(--x-multiplier));
    justify-content: space-between;
    flex-direction: column;
} 

/* Checkboxes */
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: calc((10/1280) * var(--x-multiplier));
  width: 100%; 
  margin-left: calc((20/1280) * var(--x-multiplier));
  margin-right: calc((20/1280) * var(--x-multiplier));
}

.checkbox-label { 
  display: flex;
  align-items: center;
  gap: calc((8/1280) * var(--x-multiplier));
  width: min-content;
  color: #6F88B3;
  font-weight: bold;
  font-size: calc((14/1280) * var(--x-multiplier));
}

/* Botón Añadir */
.add-block-button { 
  display: flex;   
  border: none;
  border-radius: calc((20/1280) * var(--x-multiplier));
  padding: calc((3/1280) * var(--x-multiplier)) calc((15/1280) * var(--x-multiplier)) calc((3/1280) * var(--x-multiplier)) calc((20/1280) * var(--x-multiplier));
  font-weight: 500;
  font-size: calc((14/1280) * var(--x-multiplier));
  background-color: #5386FF;
  color: white;
  cursor: pointer; 
} 
.add-block-button img{    
  height: calc((20/1280) * var(--x-multiplier));
  filter: brightness(0) invert(1);
}
.add-block-button:hover {
  background-color: #3c66d6;
}
