.labels-view {
    position: relative;
    height: 190px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #dee0eb;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px;
    font-family: sans-serif;
    justify-content: space-between;
}



/* Tabs para filtro */
.view-tabs {
    margin: 0 auto;
    display: flex;
    gap: 0;
    width: min-content;
    justify-content: center;
    background-color: #6a87c2;
    border-radius: 20px;
    overflow: hidden;
}

.tab,
.view-tab,
.active-view-tab {
    border: none;
    border-radius: 20px;
    padding: 3px 0;
    width: 80px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.view-tab {
    background-color: transparent;
    color: white;
}

.active-view-tab {
    background-color: white;
    color: #6a87c2;
    border: 2px solid #6a87c2;
}

/* Contenido */
.view-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.tags-container {
    position: absolute;
    bottom: 5px;
    height: 130px;
    width: 100%;
    left: 0;
    padding: 10px 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.labels-list {
    padding: 10px;
    margin: 0;
    list-style: disc;
    padding-left: 20px;
    color: #333;
}

.view-empty-message {
    font-size: 15px;
    text-align: center;
    color: #6f88b3;
    font-weight: bold;
    padding: 20px;
    width: 100%;
}

.buttons-container-delete {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 5px;
}

.buttons-delete {
    background-color: #5386FF;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 20px;
    margin: auto auto;
    margin-top: 5px;
}

.tags-container::-webkit-scrollbar {
    width: 8px;
}

.tags-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #5e73b8;
}

.vertical-sections .corner-container {
    position: relative;
}

.corner-visible {
    position: relative;
    margin-bottom: 0;
}

.corner-down-right {
    visibility: visible;
    position: absolute;
    bottom: 3px;
    right: 13px;
    height: 15px;
    width: 15px;
    border: 3px solid #8098BD;
    border-top: none;
    border-left: none;
}

.corner-visible:focus+.corner-down-right {
    visibility: hidden;
}