 .tag2 {
    
     background-color: #6F88B3; 
     border: none!important;
     color: #ffffff!important;
     padding-left:20px!important;
     border-radius: 33px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     height: 35px!important;
     font-weight: 600; 
     margin-left:-2px;
     position: relative;
 }

 .tag2-delete {
     border: none; 
     fill: white!important;
     background: none!important;
     width:50px!important;
     height: 50px!important;
     cursor: pointer;
     border-radius:20px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right:-2px;
 }
 .tag2-level{
    position: absolute;
    height: 100%; 
    display: flex;
    align-items: center;
    left: 50%;
 }
.tag2-level-icon{
    height: 15px;  
    filter: brightness(0) invert(1); 
}
 .tag2-delete img {
     width:24px;
 }