.users_approve{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    min-height: calc((90 / 720) * var(--y-multiplier));
    padding-left: calc((40 / 720) * var(--y-multiplier));
    padding-right: calc((20 / 720) * var(--y-multiplier));
    height: fit-content;
    word-break: break-all;
    white-space: normal;
   
    overflow-wrap: break-word;
}