/*Archivo narrow*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

:root{
  --nav-width: calc((1240 / 1280) * 100vw);
  --nav-height: calc((60 / 720) * 100vh);
}

body{
  margin-top: calc((100 / 720) * 100vh);;
  background-color: var(--BG)
}
.test-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40vw;
  height: 60vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-field{
  background-color: #dee0eb;
  border: none;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  color: var(--input);
  font-family: "Archivo Narrow", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  padding-left: 18px;
  line-height: normal;
}
.input-field::placeholder{
  color: var(--input);
}
/* AppWindow styles */
.app-window {
  display: flex;
  flex-direction: column;
  background-color: var(--window-outer);
  border-radius: 20px;
  color: var(--app-text-color);
  font-family: var(--app-font-family);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*NavBar styles*/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--nav-height ) - calc((10 / 720) * 100vh));
  width: calc(var(--nav-width) - calc((10 / 1280) * 100vw));
  margin-top: 20px;
  padding-top: calc((5 / 720) * 100vh);
  padding-bottom: calc((5 / 720) * 100vh);
  padding-left: calc((5 / 1280) * 100vw);
  padding-right: calc((5 / 1280) * 100vw);

  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.icons-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icons-section img{
  width: calc(((35 / 1240) * var(--nav-width)));
  height: calc((37 / 60) * var(--nav-height));
  fill: var(--icons-nav-bar); 
}
.icons-section .profile-pic{
  width: calc(((40 / 1240) * var(--nav-width)));
  height: calc(((40 / 1240) * var(--nav-width)));
  border-radius: 50%;
  background-image: url(../assets/user/profile.jpg);
  background-size: cover;
  background-position: center;
}
.nav-bar .logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.unitec-text{
  width: calc(((130 / 1240) * var(--nav-width)));
  height: calc((35 / 60) * var(--nav-height));
}



/* ActionButton styles */
.action-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--action-button);
  color: var(--app-text-color);
  font-size: 16px;
  cursor: pointer;

  padding: 0 10px; /* Add padding for spacing around the content */
  width: auto; /* Allow the width to adjust based on content */
  white-space: nowrap; /* Prevent text from wrapping */
}
.button-text {
  font-size: 15px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  color: var(--app-text-color); /* Set text color */
  margin-inline: 10px;
}

/* FEEDBOX SECTION STYLES */
.feedbox-section {
  display: flex;
  flex-direction: row;
  gap: 20px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* REGISTER USER STYLES*/
.register-user {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.side-sections{
  width: calc((330 / 1280) * 100vw);
  background-color: blue;
}
.name-section{
  width: 100%;
  height: 12%;
}
.name-section h1{
  margin: 0;
  color: var(--input);
}
.horizontal-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.data-section{
  width: 50%;
  height: 100%;
}
.line{
  display: flex;
  position: absolute;
  background-color: var(--delimiters);
}