/* AppWindow styles */
.app-window {
  display: flex;
  flex-direction: column;
  /*
  width: calc((350/1280)*100vw);
  height: calc((640/720)*100vh);
  */
  background-color: var(--window-outer);
  border-radius: 20px;
  color: var(--app-text-color);
  font-family: var(--app-font-family);
}

/* ActionButton styles */
.action-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--action-button);
  color: var(--app-text-color);
  font-size: 16px;
  cursor: pointer;

  padding: 0 10px; /* Add padding for spacing around the content */
  width: auto; /* Allow the width to adjust based on content */
  white-space: nowrap; /* Prevent text from wrapping */
}
.button-text {
  font-size: 15px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  color: var(--app-text-color); /* Set text color */
  margin-inline: 10px;
}
