.ForgotPassword p {
    font-size: calc((20 / 720) * var(--y-multiplier));
    font-weight: 550;
    margin: 0;
}

.ForgotPasswordCode .title {
    color: #305894;
    line-height: calc((25 / 1280) * var(--x-multiplier));
    font-weight: 550;
    font-size: calc((33 / 720) * var(--y-multiplier));
    margin-bottom: calc((20 / 1280) * var(--x-multiplier));
    margin-top: 0;
}

.ForgotPasswordCode .contenedor {
    height: auto;
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc((20 / 1280) * var(--x-multiplier));
}

.ForgotPasswordCode .first-text {
    width: 91%;  
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ForgotPasswordCode .first-text p {
    margin: 0;
    color: black;
}

.ForgotPasswordCode .first-text p span {
    text-decoration: none;
    cursor: text !important;
}

.ForgotPasswordCode .Bordes {
    border: calc((3 / 1280) * var(--x-multiplier)) solid #FFD64F;
    border-right: none;
    border-left: none;
    padding: calc((15 / 1280) * var(--x-multiplier)) 0;
    width: 100%;
    text-align: center;
}

.ForgotPasswordCode .second-text p {
    color: #335A95;
    width: 100%;
}

.ForgotPasswordCode .second-text p a,
.ForgotPasswordCode .first-text p span {
    font-weight: 550;
    text-decoration: underline;
    cursor: pointer;
}