 
.ForgotPasswordNewPass .title {
    color: #305894;
    line-height: calc((25 / 1280) * var(--x-multiplier));
    font-weight: 550;
    font-size: calc((33 / 720) * var(--y-multiplier)); 
    margin-top: 0; 
    margin-bottom: calc((30 / 720) * var(--y-multiplier));
}

.ForgotPasswordNewPass .contenedor {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc((10 / 1280) * var(--x-multiplier));
}
 
.ForgotPasswordNewPass .ActionButton{
    margin-top: calc((15 / 720) * var(--y-multiplier)); 
}

 