body {
    background: url("../imgs/3.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
    /* Asegurarse de que esté detrás del contenido */
}

.contenedor {
    border-radius: 5px;
    display: flex;
    width: 60%;
    height: 30%;
    margin: 14%;
    padding: 5%;
    border: 2px solid rgba(0, 0, 0, .4);
    background: rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 0 15px rgba(0, 0, 0, .2), 0 0 30px rgba(0, 0, 0, .2);
}

.contenido {
    margin: 1%;
    width: 40%;
    height: 100%;
    color: white;
}

.contenido>div {
    margin: 5%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contenido input {
    padding: 8px 20px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

.contenido button, a{
    padding: 8px 20px;
    border: 1px solid #a70019;
    width: 50%;
    background: #a70019;
    color: white;
    border-radius: 3px;
}
@media screen and (max-width: 768px) {
    .contenedor {
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    }

}body {
    background: url("../imgs/3.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
    /* Asegurarse de que esté detrás del contenido */
}

.contenedor {
    border-radius: 5px;
    display: flex;
    width: 60%;
    height: 30%;
    margin: 14%;
    padding: 5%;
    border: 2px solid rgba(0, 0, 0, .4);
    background: rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 0 15px rgba(0, 0, 0, .2), 0 0 30px rgba(0, 0, 0, .2);
}

.contenido {
    margin: 1%;
    width: 40%;
    height: 100%;
    color: white;
}

.contenido>div {
    margin: 5%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contenido input {
    padding: 8px 20px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

.contenido button, a{
    padding: 8px 20px;
    border: 1px solid #a70019;
    width: 50%;
    background: #a70019;
    color: white;
    border-radius: 3px;
}
@media screen and (max-width: 768px) {
    .contenedor {
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    }

}