/* =========================
  Notification Styles
  ========================= */

.notification-box {
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  right: 20px;
  top: 100px;
  height: 600px;
  border-top-left-radius: calc((5 / 1280) * var(--x-multiplier));
  border-bottom-left-radius: calc((5 / 1280) * var(--x-multiplier));
}
@media (max-width: 1280px) {
  .notification-box {
    display: none;
  }
    
}

.notification-box::-webkit-scrollbar {
  width: calc((6 / 1280) * var(--x-multiplier));
  left: 0;
}
.notification-box::-webkit-scrollbar-track {
  border-radius: calc((8 / 1280) * var(--x-multiplier));
  background-color: var(--action-button);
  border: calc((1 / 1280) * var(--x-multiplier)) solid #cacaca;
}
.notification-box::-webkit-scrollbar-thumb {
  border-radius: calc((8 / 1280) * var(--x-multiplier));
  background-color: var(--icons-nav-bar);
}
.notification-box::-webkit-scrollbar-thumb:hover {
  background-color: var(--feed-title-BG);
}
  
.notification {
  color: #000000;
  border: solid var(--job-title) calc((3 / 1280) * var(--x-multiplier));
  border-radius: calc((15 / 1280) * var(--x-multiplier));
  right: 50%;
  transform: translateX(50%);
  font-size: calc((20 / 720) * var(--y-multiplier) * var(--font-multiplier));
  font-weight: 600;
  direction: ltr;
}
.notification .link {
  color: black;
  font-weight: 600;
}
.notification .view-more {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-family: var(--app-font-family);
  font-size: calc((20 / 720) * var(--y-multiplier) * var(--font-multiplier));
  color: black;
  font-weight: 600;
  text-indent: -6px;
}
.notification .state {
  background-color: white;
  border: solid var(--job-title) calc((3 / 1280) * var(--x-multiplier));
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.notification .state div {
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}